.navbar {
    background-color: #222;
    padding: 12px;
    border-bottom: 1px solid #444;
}

.navbar-dark .navbar-brand {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    color: #E7EB90;
    background-color: #222;
}

.navbar-brand img {
    margin-right: .5em;
}

.title-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #444;
    padding: 32px 32px 0 32px;
}

.title {
    color: #E7EB90;
}

.table-container {
    background-color: #444;
    padding: 24px 32px 32px 32px;
}

.table {
    background-color: #fff;
}

.table th {
    border-style: none;
}

.headerButtons {
    display: none;
}

.btn-block {
    cursor: pointer;
    padding: 0;
    text-align: left;
    border-style: none;
    background: none;
    font-weight: bold;
}

footer {
    background-color: #222;
    text-align: center;
    color: #888;
    padding: 32px;
}

footer p { 
    margin: 0;
}

@media only screen and (max-width: 580px) {
    .title-group {
        flex-direction: column;
        text-align: center;
    }
    
    .form-control {
        width: 460px;
    }

    .table-container {
        font-size: 14px;
        padding: 12px;
    }

    .index {
        display: none;
    }

    .countryCode {
        display: none;
    }
}


@media only screen and (max-width: 550px) {
    .form-control {
        width: 340px
    }

    .countryCode {
        display: table-cell;
    }

    .countryName {
        display: none;
    }

    .activeCases {
        display: none;
    }
}


@media only screen and (max-width: 360px) {
    .form-control {
        width: auto;
    }

    .table-container {
        font-size: 11px;
    }

    .countryName {
        display: none;
    }
}