.navbar {
    background-color: #222;
    padding: 12px;
    border-bottom: 1px solid #444;
}

.navbar-dark .navbar-brand {
    font-weight: 500;
    font-size: 24px;
    color: #E7EB90;
    background-color: #222;
}

.table-container {
    background-color: #444;
    padding: 32px;
}

.table {
    background-color: #fff;
}

.global-col {
    background-color: rgba(0,0,0,.075);
}

footer {
    background-color: #222;
    text-align: center;
    color: #888;
    padding: 32px;
}

footer p { 
    margin: 0;
}