.navbar {
    background-color: #222;
    padding: 12px;
    border-bottom: 1px solid #444;
}

.navbar-brand img {
    margin-right: .5em;
}

.navbar-dark .navbar-brand {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    color: #E7EB90;
    background-color: #222;
}

.summary-group {
    background-color: #222;
    color: #fff;
}

.title {
    text-align: center;
    padding: 32px;
}

.cases-group {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
}

.stat {
    font-size: 64px;
    font-weight: bold;
    color: #E7EB90;
}

.sub-stat {
    font-weight: bold;
    color: #E7EB90;
}

.confirmed-cases {
    padding-right: 3%;
    border-right: 1px solid #444;
}

.deaths-cases {
    padding: 0 3% 0 3%;
}

.recovered-cases {
    padding-left: 3%;
    border-left: 1px solid #444;
}

.active-cases {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 52px 0 52px 0;
}

#active-data {
    padding-left: .5em;
}

.country {
    display: flex;
    justify-content: center;
    padding: 0 0 52px 0;
}

.news {
    color: #111;
    background-color: #f5b340;
    padding: 64px;
}

.news h1 {
    margin-bottom: 24px;
}

.news-group {
    display: flex;
    overflow-x: scroll;
}

.center-cropped {
    width: auto;
    height: 250px;
    border-radius: 8px 8px 0 0;
    background-position: center center;
    background-repeat: no-repeat;
}

.card {
    min-width: 300px; 
    margin: 0 0 18px 24px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.info {
    color: #fff;
    background-color: #C84630;
    padding: 64px;
}

.sources {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #222;
    background-color: #fff;
    padding: 32px;
}

.sources h1 {
    margin-bottom: 24px;
}

.source-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #333;
}

.source-img div {
    margin: 0 32px 0 32px;
}

footer {
    background-color: #222;
    text-align: center;
    color: #888;
    padding: 32px;
}

footer p { 
    margin: 0;
}

@media only screen and (max-width: 1100px) {
    .cases-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .cases-group h1 {
        font-size: 52px;
    }

    .confirmed-cases {
        padding: 0 0 12px 0;
        border-style: none;
    }
    
    .deaths-cases {
        padding: 0 0 12px 0;
    }
    
    .recovered-cases {
        padding: 0;
        border-style: none;
    }

    .active-cases {
        padding: 64px 0 64px 0;
        flex-direction: column;
    }

    .active-cases h1 {
        font-size: 32px;
    }

    #active-data {
        font-size: 52px;
        padding: 0;
    }

    .country {
        justify-items: center;
        text-align: center;
    }

    .country h1 {
        width: 80%;
    }

    .news {
        padding: 32px;
    }

    .info {
        color: #fff;
        background-color: #C84630;
        padding: 32px;
    }
}

@media only screen and (max-width: 400px) {
    .navbar-brand {
        margin: 0;
    }

    .navbar-dark .navbar-brand {
        font-size: 16px;
    }

    .navbar-brand img {
        width: 32px;
        height: 32px;
    }

    .cases-group h1 {
        font-size: 24px;
    }

    .active-cases h1 {
        font-size: 24px;
    }

    #active-data {
        font-size: 24px;
        padding: 0;
    }

    .country h1 {
        font-size: 24px;
    }

    #country-data {
        font-size: 24px;
    }

    .news {
        padding: 12px;
    }

    .center-cropped {
        height: 200px;
    }

    .card {
        font-size: 12px;
        min-width: 200px;
        margin: 0 0 24px 12px;
    }

    .card-text {
        -webkit-line-clamp: 2;
    }
}